body {
  color: #fca47c;
  background-color: #097c87;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #23ced9;
    color: #fca47c;
    margin-top: -20px;
    display: flex;
}
.logo{
  font-size: 34px;
  font-weight: bold;
  font-family: 'Times New Roman';
}
.logodescription:{
position: absolute;
left: 60%;
transform: translateX(-40%);
}
